/*BASE.HTML CSS*/

body {
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
    min-height: 100vh;

}

.navbar-container {
    background: rgba(15, 3, 43, 0.1)
}

.logo {
    font-family: 'Permanent Marker';
    font-size: 6vh;


}

mark.white {
    color: white;
    background: none;
}

mark.red {
    color: firebrick;
    background: none
}

.stop-hover {
    pointer-events: none;
}

.nav-link {
    color: white;
    font-size: 2rem;
}

.nav-right {
    float: right !important;
}

.body-content {
    background-color: lightslategray;
    min-height: 100vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.page-footer {
    height: 120px;
    background-color: rgba(15, 3, 43, 0.1);
    text-align: center;
    color: white;

}

.card-img-top {
    width: 100%;
    object-fit: cover;
    align-items: center;
}

.card {
    margin: 3px;
}

.card-detail {
    min-height: fit-content;
    width: 95%;
}

.img-detail {
    height: 15rem;
    width: 100%;
}

.thread {
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    margin-top: 10px;
}

.thread-comments {
    height: min-content;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    border: 1px solid black;
    text-align: left;
    margin-bottom: 5px;
}

.thread-comments:nth-child(odd) {
    background-color: rgb(201, 201, 201);
}

.thread-comments:nth-child(even) {
    background-color: rgb(16, 204, 211);
    text-align: right;
}

.comment-form {
    margin-bottom: 10px;
}