/*BASE.HTML CSS*/

body {
    min-height: 100vh;

}

.navbar-container {
    background: rgb(206, 205, 205);
    min-height: 6rem;
}

.logo {
    font-family: 'Permanent Marker';
    font-size: 6vh;


}

mark.white {
    color: #000;
    background: none;
}

mark.red {
    color: firebrick;
    background: none
}

.stop-hover {
    pointer-events: none;
}

.nav-link {
    color: #000;
    font-size: 2rem;
}

.nav-right {
    float: right !important;
}

.body-content {
    background-color: rgb(206, 205, 205);
    min-height: 100vh;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.page-footer {
    height: 6rem;
    background-color: rgb(206, 205, 205);
    text-align: center;
    color: #000;

}

.card-img-top {
    width: 100%;
    object-fit: cover;
    align-items: center;
}


.card-detail {
    min-height: fit-content;
    width: 95%;
}

.img-detail {
    height: 15rem;
    width: 100%;
}

.thread {
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    margin-top: 10px;
}

.thread-comments {
    height: min-content;
    padding: 5px;
    border-radius: 10px;
    width: auto;
    border: 1px solid black;
    text-align: left;
    margin-bottom: 5px;
}

.thread-comments:nth-child(odd) {
    background-color: rgb(201, 201, 201);
}

.thread-comments:nth-child(even) {
    background-color: rgb(51, 55, 250);
    text-align: right;
    color: white;
}

.comment-form {
    margin-bottom: 10px;
}