{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    {% for post in post_list %}
    <div class="col-12 col-md-4 card border-dark">
        {% if 'placeholder' in post.post_image.url %}
        <img src="../static/automobile-1840414_1280.jpg" class="card-img-top" alt="Thread image">
        {% else %}
        <img src=" {{ post.post_image.url }}" class="card-img-top" alt="Thread Image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            {% if user.is_authenticated %}
            <a href="{% url 'post_info' post.slug  %}" class="btn btn-primary">Read More</a>
            {% else %}
            <div class="row">
                <h4>Please login to view the forum threads in more detail and get involved in the discussion</h4>
            </div>
            {% endif %}
        </div>


    </div>
    {% endfor %}
</div>



{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}