{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load cloudinary %}

<div class="row justify-content-center">
    <div class="col-12 card border-dark card-detail">
        {% if 'placeholder' in post.post_image.url %}
        <img src="../static/automobile-1840414_1280.jpg" class="card-img-top img-detail" alt="...">
        {% else %}
        <img src=" {{ post.post_image.url }}" class="card-img-top img-detail" alt="...">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text"> {{ post.text }}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            {% if user.is_authenticated %}
            <h5>Join the discussion:</h5>
            <form class="comment-form" method="post">
                {{ comment_box | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Post</button>
            </form>
        </div>
    </div>

    {% endif %}
    <div class="row justify-content-center">
        <h5>Comments: </h5>
        <div class="col-12 col-md-6 thread">
            {% for comment in comments %}
            <p class="thread-comments">{{ comment.created_on }} - {{ comment.name.capitalize}} wrote:
                {{ comment.body.capitalize }} <a href="{% url 'edit_comment' comment.pk %}">Edit</a>
                {% endfor %}
        </div>
    </div>
</div>



{% endblock %}